# Audio Processing & AI Models
demucs
librosa
museval
pretty_midi
mido
soundfile
pydub
pedalboard

# Math & Data
numpy
pandas
scipy
torch
torchaudio
torchcrepe

# Visualization
matplotlib

# API Server & Backend
fastapi
uvicorn
python-multipart

# Frontend & Networking
streamlit
requests

# asynchronous database operation
sqlalchemy>=2.0.0
asyncpg>=0.28.0
alembic>=1.11.0

